.user-select-none.svg-container{
    height: 360px !important;
}

/* 
.css-1629p8f.e16nr0p31{
    margin-top: -70%;
}
.vsc-initialized{
    margin-top: -70%;
}
#root{
    margin-top: -70%;
}
.css-94k3cu.e1tzin5v0{
    margin-top: -70%;
} */